.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  height: 100vh;
  background: #282c34;
 
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.aplicacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cuadrado {
  width: 100px;
  height: 100px;
  border: white solid 2px;
  margin: 3px;
  color: white;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}

.cuadrado:hover{
  cursor: pointer;
}

.tabla {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.turnos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.turno{
  margin: 0 15px;
  padding: 0 10px;
  font-size: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.span{
  margin-bottom: 10px;

}

.seleccionado{
  background-color: #61dafb;
  color: #282c34;
  border-radius: 3px;
}

.winner{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);

}

.texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #111;
  border: 2px solid #eee;
  border-radius: 10px;
  width: 320px;
  height: 300px;
}

.btn{
  border: 3px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  color: white;
  background-color: #111;
}
